{
    "plugins": [
        [
            "babel-plugin-root-import",
            {
                "rootPathPrefix": "@", // `~` 默认
                "rootPathSuffix": "/js"
            }
        ]
    ]
}